@import 'common'

.home-container
  height 100%
  min-height 100%
  background #e9eff5
  .home-header
    height 60px
    background #fff
    box-shadow 1px 1px 1px #ddd
    line-height 60px
    position relative
    img
      width 50px
      height 50px
      float left
      margin-top 5px
      margin-right 10px
    span
      float left
      font-size 18px
      color #666
    .el-dropdown
      float right
      .el-dropdown-link
        font-size 14px 
  .header-nav
    overflow hidden
    margin 0
    li
      float left
      list-style none
      margin-left 30px
      a
        text-decoration none
        color #666666
        padding 0 20px
        line-height: 60px
        height 60px
        display inline-block
        font-size 14px
        &:hover
          color #409EFF
        &.router-link-active
          background #409EFF
          color: #fff 
  .hear-nav-btn
    float left
    // display none
    margin-top 10px
    margin-right 8px
  .aside-wrap
    margin 20px 0 20px 20px
    .title
      border-left 2px solid #e63
      padding-left 8px
    ul
      padding-left 0
      li
        list-style none
        margin-bottom 10px
        font-size 14px     
  .el-main
    .add-client-wrap
      height 40px
      margin-bottom 10px
      .title
        float left
        border-left 2px solid #e63
        padding-left 8px
      button
        float right
    .table-wrap
      th,td
        text-align center
    .table-page-wrap
      margin-top 15px    
  .home-aside
    background #304269
    height 100%
  .home-footer
    height 60px
    background #212d49
    line-height 60px
    padding-left 20px
    color #637497
    font-size 14px