@import 'common'

html,body
  padding 0
  margin 0
  width 100%
  height 100%
.login-wrap
  background: #304269
  width 100%
  height 100%
  min-height 100%
  position relative
  .login-inner
    width 230px
    height 200px
    position absolute
    left 50%
    top 50%
    margin-left -115px
    margin-top -150px
    button
      display block
      margin 0 auto
      width 100%
    img
      display block
      margin 0 auto 5px
      width 60px
      height 60px
    .login-title
      text-align center
      font-size 20px
      color #e6a23c
      margin-bottom 10px
  .login-bottom
    width 300px
    height 50px
    position absolute
    bottom 10px
    left 50%
    margin-left -150px
    color #637497
    font-size 12px
    text-align center
    padding-top 30px
    